/* index */
.world {
    text-align: center;
    color: darkblue;
}

.degrade {
    background: linear-gradient(to right, #393DC1, #0C0D51, #04052A);
}

h3 {
    text-align: center;
    color: white;
    font-weight: 10px;
}

.mb-3 {
    color: white;
}
/* ///////////////////////// */
/* comidas tipicas */
.clase1 {
    text-align: center;

}

.clase2 {
    text-align: center;

}

.receta1 {
    text-align: center;
}

.video {
    text-align: center;
}

.degree2 {
    background: linear-gradient(to right, #D7F022, #FFA200, #FF3600);
}

.derecho {
    text-align: center;
}

/* ///////////////// */
/* recomendaciones */

.item {
    text-align: center;
    color: white;
}

.item2 {
    text-align: center;
    color: white;
}

.img {
    display: block;
    margin: auto;
}

.degrade2 {
    background: linear-gradient(to right, #393DC1, #0C0D51, #04052A);

}

.visa {
    color: white;
}

.pasaporte {
    color: white;
}

.valija {
    color: white;
}

.asientos {
    color: white;

}

.uno1 {
    color: white;
}

.dos {
    color: white;
}

.tres {
    color: white;
}

.cuatro {
    color: white;
}

.derecho2 {
    color: white;
    text-align: center;
}
/* //////////// */
/* paises */
.pais {
    text-align: center;
}

.degrade3 {
    background: linear-gradient(to right, #94ABE3, #94D2E3, #BFBFBF);
}

.top {
    text-align: center;
    color: #04052A;
}
/* ////////// */
/* Hoteles */
.hoteles {
    text-align: center;
    color: white;
}

.degrade4 {
    background: linear-gradient(to right, #222222, #000000, #F1EA48, #151514);
}

.img2 {
    display: block;
    margin: auto;
}

.dubai {
    text-align: center;
    color: white;
}

.Burj {
    display: block;
    margin: auto;
    height: 500px;
    width: 700px;
}

.españa {
    text-align: center;
    color: white;
}

.esp {
    display: block;
    margin: auto;
    height: 500px;
    width: 700px;
  
}

.con {
    text-align: center;
    color: white;
}

.tur5 {
    display: block;
    margin: auto;
    height: 500px;
    width: 700px;
}

.unos {
    color: white;
}

.hñ {
    color: white;
    text-align: center;
}
/* /////// */
/* quienes somos */
.banner {
    text-align: center;
}


.quien {
    text-align: center;
    color: #0C0D51;
}

.somos {
    text-align: center;
    color: #94ABE3;

}

.adios {
    text-align: center;
    color: #393DC1;
}

.degradee {
    background: linear-gradient(to right, #58DFF5, #2256D8, #7300FE);
}
/* ////// */
body {
    margin: 20px;
    padding: 20px;
}

.color{
    background: linear-gradient(to right, #101C3F,#101C3F,black)
}
.logo1{
    height: 100px;
    width: 100px;
}





