.degrade {
	background: linear-gradient(to right, #393DC1, #0C0D51, #04052A);}
	h3 {
		text-align: center;
		color: $color_2;
		font-weight: 10px;
	}
	.degree2 {
		background: linear-gradient(to right, #393DC1, #0C0D51, #04052A);
	}
	.degrade2 {
		background: linear-gradient(to right, #393DC1, #0C0D51, #04052A);
	}
	.mb-3 {
		color: $color_2;
	}
	body {
		margin: 20px;
		padding: 20px;
		font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	}
	.color {
		background: linear-gradient(to right, #101C3F,#101C3F,black);
	}
	.logo1 {
		height: 100px;
		width: 100px;
	}
	.hñ {
		color: $color_2;
		text-align: center;
	}
	.degradee {
		background: linear-gradient(to right, #58DFF5, #2256D8, #7300FE);
	}
	.degrade3 {
		background: linear-gradient(to right, #94ABE3, #94D2E3, #BFBFBF);
	}
	.degrade4 {
		background: linear-gradient(to right, #222222, #000000, #F1EA48, #151514);
	}

	