.clase1 {
	text-align: center;
	color: $color_2;
}
.clase2 {
	text-align: center;
	color: $color_2;
}
.receta1 {
	text-align: center;
	color:$color_2
}

.derecho {
	text-align: center;
}
.item {
	text-align: center;
	color: $color_2;
}
.item2 {
	text-align: center;
	color: $color_2;
}
.img {
	display: block;
	margin: auto;
	width: 50%;
}
.visa {
	color: $color_2;
}
.pasaporte {
	color: $color_2;
}
.valija {
	color: $color_2;
}
.asientos {
	color: $color_2;
}
.quien {
	text-align: center;
	color: $color_4;
}
.somos {
	text-align: center;
	color: $color_5;
}
.adios {
	text-align: center;
	color: $color_6;}
	.uno1 {
		color: $color_2;
	}
	
   .card:hover{
	color: gray;
	font-size: 1.5rem;
    transition: all 0.5s;
}
   

	.derecho2 {
		color: $color_2;
		text-align: center;
	}
	.pais {
		text-align: center;
	}
	
	.top {
		text-align: center;
		color: $color_2;
		font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	}
	.unos {
		color: $color_2;
	}
	.banner {
		text-align: center;
	}
     .video{
		margin: auto;
	 }
    .receta{
		text-align: center;
		color: $color_2;
	}
   .comida{
	font-size: 150%;
	color: $color_2;
	transition: all 0.5s;
	width: 400%;
	display: inline-block;
	text-align: center;
}
    .comida:hover{
		font-size:2rem ;
		color: rgb(0, 191, 255);
	}  
	
    .boton{
		text-align: center;
		border-radius: 20px;
	}
	.cu{
		font-family: Arial, Helvetica, sans-serif;
	}










	@media only screen and (max-width:700px) and (min-width:300px){
		 .video iframe{
			width: 99%;
			height: 100%;
		}
		.comida{
		 width: 50%;
		 height: 50%;
		}
	}
	